
/* Hearder Section Contant Design */

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    background-color: tomato;
    
}
.head-title{
    width: 40%;
}
.head-title h1{
    text-transform: uppercase;
    font-size: 40px;
    padding: 0px;
    margin: 10px 50px;
}
.head-list{
    width: 60%;
    
}
.head-list ul{
    display: flex;
    padding: 1% 10%;
    margin-left: 0px;
    justify-content: space-between;
}
.head-list ul li{
    text-transform: uppercase;
    list-style-type: none;
    
}
.head-list ul li a{
    text-decoration: none;
    font-size: 20px;
}

/* Top Banner Contant Design */
.top-banner{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    position: relative;
    margin-bottom: 50px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.tb-half-width{
    width: 50%;
    padding-right: 2%;
}
.tb-half-width h1{
    font-size: 250%;
}
.tb-half-width h3{
    font-size: 150%;
}
.tb-half-width p{
    font-size: 100%;
    text-align: justify;
}
.tb-half-width a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 30px;
}
.name{
    color: orange;
}
.tb-image1{
    width: 45%;
}
.tb-image1 img{
    width: 80%;
    margin-left: 100px;
}


/* Middle Banner Contant Design  */

/* Bottom Banner Contant Design  */
.bottom-banner{

}
.bottom-banner h1{
    margin: 0;
    font-size: 50px;
}
.h1-margin h1{
    margin-left: 27px;
}
#bottom1{
    border-left: 5px solid;
    border-image: linear-gradient(#e76b32, #bfee3f);
    border-image-slice: 1;
}
#bottom2{
    border-left: 5px solid;
    border-image: linear-gradient(#bfee3f, #e76b32);
    border-image-slice: 1;
}
.bottom-half-width{
    width: 50%;
    padding: 0px 70px;
    box-shadow: 30px 30px 60px grey;
    margin: 0px 40px;
    border-radius: 10px;
}
.bottom-half-width h1{
    font-size: 250%;
}
.bottom-half-width h3{
    font-size: 135%;
    color: orange;
}
.bottom-half-width p{
    font-size: 100%;
    text-align: justify;
}


/* Footer Contant Design  */
footer{
    text-align: center;
    text-transform: uppercase;
}
footer p{

}


/* Welcome To My Design World! */
