
/* Hearder Section Contant Design */

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    background-color: tomato;
    
}
.head-title{
    width: 40%;
}
.head-title h1{
    text-transform: uppercase;
    font-size: 40px;
    padding: 0px;
    margin: 10px 50px;
}
.head-list{
    width: 60%;
    
}
.head-list ul{
    display: flex;
    padding: 1% 10%;
    margin-left: 0px;
    justify-content: space-between;
}
.head-list ul li{
    text-transform: uppercase;
    list-style-type: none;
    
}
.head-list ul li a{
    text-decoration: none;
    font-size: 20px;
}

/* Top Banner Contant Design */
.top-banner{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    position: relative;
    margin-bottom: 50px;
}
.tb-half-width{
    width: 50%;
    padding-right: 2%;
    /* background-color: gray; */
}
.tb-half-width h1{
    font-size: 250%;
}
.tb-half-width h3{
    font-size: 150%;
}
.tb-half-width p{
    font-size: 100%;
    text-align: justify;
}
.tb-half-width a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 30px;
}
.name{
    color: orange;
}
.tb-image1{
    width: 40%;
    /* background-color: green; */
}
.tb-image1 img{
    width: 80%;
    margin-left: 100px;
}


/* Middle Banner Contant Design  */
.middle-banner{

}
.middle-img{

}
.middle-img img{

}
.middle-half-width{

}
.middle-half-width h1{

}
.middle-half-width h3{

}
.middle-half-width p{

}
.middle-half-width a{

}


/* Bottom Banner Contant Design  */
.bottom-banner{

}
.bottom-banner h1{

}
.bottom-half-width{
    
}
.bottom-half-width h1{

}
.bottom-half-width h3{

}
.bottom-half-width p{

}


/* Footer Contant Design  */
footer{

}
footer p{

}



