.followers-container {
    border: 1px solid #30363D;
    border-radius: 5px;
    margin-top: 10px;
}
.followers-container > h2 {
    font-size: 1.2rem;
    padding: 0;
    margin: 15px;
    margin-bottom: 5px;
}
.followers-map-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 900px) {
    .followers-map-container {
        grid-template-columns: 1fr;
    }
}