.home-container {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    margin-bottom: 10px;
    position: relative;
}
.home-routing {
    margin-right: 5%;
}
.home-nav {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    border: 1px solid #30363D;
    border-radius: 5px;
    padding: 20px;
}
.home-nav a {
    margin-left: 10px;
    text-decoration: none;
    color: #C3CBD4;
    padding: 2px 5px;
    border-radius: 5px;
}
.home-nav a:hover {
    color: #F0F6FC;
    background-color: #1b1e22;
}
.home-nav div {
    margin: 5px 0;
}
.home-nav div a svg {
    font-size: 14px;
    margin-right: 5px;
}