.header {
    background-color: #c7c3c3;
    padding: 15px;
}
.header nav a {
    margin-right: 20px;
    text-decoration: none;
    color: blue;
    font-weight: 500;
}
.header nav a:hover {
    color: goldenrod;
}