.services-title {
    text-align: center;
    color: blue;
    margin-top: 50px;
}

.services-title>span {
    color: orange;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;
    margin: 80px;
}

/* Make services Responsive: (according to Bootstrap) */

/* Small */
@media only screen and (max-width: 576px) {
    .services-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        margin: 40px;
    }
}

/* Medium */
@media only screen and (min-width: 577px) and (max-width: 992px) {
    .services-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        margin: 80px;
    }
}

/* Large */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .services-container {
        grid-gap: 30px;
        margin: 80px;
    }
}