.header-container > h2 {
    margin-top: 8%;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #161B22;
    color: #C3CBD4;
    padding: 1%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
.header a {
    margin: 10px;
    text-decoration: none;
    color: #C3CBD4;
    padding: 2px 5px;
    border-radius: 5px;
}
.header a:hover {
    color: #F0F6FC;
    background-color: #21262D;
}
.title-color:hover {
    color: tomato;
}