.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: #2d345c;
    padding-left: 10%;
    padding-right: 10%;
}

.header-container a {
    margin-left: 25px;
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.header-container a:hover {
    color: orange;
}