.repo {
    border: 1px solid #30363D;
    border-radius: 5px;
    margin: 2%;
    text-align: left;
    padding: 10px;
}
.repo a {
    text-decoration: none;
    color: #2085FF;
    font-size: 17px;
    font-weight: 600;
}
.repo a:hover {
    text-decoration: underline;
}
.repo p {
    margin: 0;
    padding: 2px 0;
    font-size: 13px;
    color: #8B949A;
}
.repo > p {
    font-size: 12px;
    color: #8B949A;
    margin-top: 2px;
}
.repo-name {
    display: flex;
    align-items: center;
    justify-content: left;
}
.repo-name p {
    margin-left: 8px;
    font-size: 12px;
    border: 1px solid #30363D;
    border-radius: 10px;
    padding: 1px 5px;
    text-transform: capitalize;
}
.topics {
    /* background-color: #21262D; */
    background-color: #13233A;
    color: #2B91FF;
    margin-right: 5px;
    padding: 0 5px;
    border-radius: 5px;
}