

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* header Design Start */
header{
    display: flex;
    justify-content: space-between;
    margin: 25px 90px;
}
.header-title > a{
    font-size: 1.6em;
    text-decoration: none;
    color: black;
    margin-left: 60px;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 1.4em;
    margin-left: 30px;
}
/* header Design End  */

/* main Design Start */

/* top section Design Start */
.top-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}
.top-left{
    width: 35%;
    /* border: 1px solid red; */
    padding: 30px;
    text-align: justify;
}
.top-left:hover, .top-right:hover{
    border: 5px solid #e02b6c;
    border-radius: 10px;
}
.top-left h1{
    font-size: 2.5em;
    margin: 0;
}
.top-left p{
    font-size: 1.2em;
    margin-bottom: 30px;
}
.top-left a{
    font-size: 1.4em;
    text-decoration: none;
    background-color: #e02b6c;
    padding: 10px 40px;
    border-radius: 25px;
    color: whitesmoke;
}
.top-right{
    width: 35%;
    /* border: 1px solid red; */
}
.top-right img{
    margin-left: 50px;
}
.top-right:hover img{
    transform: scale(1.2) rotate(40deg);
    transition: transform 3s ease;
}
/* top section Design End */

/* sponsor section start */
.sponsor{
    display: flex;
    justify-content: space-evenly;
    margin: 0 290px;
    align-items: center;
    padding: 15px 50px;
}
.sponsor a{
    margin: 0px 20px;
}
hr{
    color: lightgray;
    margin: 0 140px;
}
.hr{
    margin-top: 120px;
}
/* sponsor section end */

/* grid section start */
.grid-section{
    margin: 110px 140px;
}
.grid-title h1{
    font-size: 2.5em;
    text-align: center;
}
.grid-blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 20px;
}
.grid-blog{
    /* border: 1px solid tomato; */
    border-radius: 8px;
    padding: 10px;
    text-align: justify;
    box-shadow: 10px 5px 15px 1px gray;
}
.grid-blog img{
    width: 100%;
}
.grid-blog h2{
    font-size: 2em;
    margin: 5px 0;
}
.grid-blog h3{
    font-size: 1.8em;
    margin: 0%;
}
.grid-blog .number{
    margin-left: 20px;
}
.fa-star, .fa-star-half-alt, .number, .grid-blog>p{
    font-size: 1.2em;
}
.fa-star, .fa-star-half-alt{
    color: #fc962b;
}
.grid-link {
    margin-top: 40px;
    text-align: right;
}
.grid-link a{
    text-decoration: none;
    color: #e02b6c;
    font-size: 1.2em;
    font-weight: 700;
}
/* grid section end */

/* bottom section start */
.bottom-left{
    width: 35%;
}
.bottom-left img{
    width: 100%;
}
.bottom-right{
    width: 35%;
    padding: 30px;
    text-align: justify;
}
.top-right h1{
    font-size: 3em;
    margin: 0;
}
.top-right p{
    font-size: 1.2em;
    margin-bottom: 30px;
}
.top-right a{
    font-size: 1.4em;
    text-decoration: none;
    background-color: #e02b6c;
    padding: 10px 40px;
    border-radius: 25px;
    color: whitesmoke;
}
.bottom-left:hover img{
    transform: scale(1.2) rotate(-360deg);
    transition: transform 3s ease;
}

/* bottom section end */

/* main Design End */


/* footer section start */
footer{
    text-align: center;
    background-color: #0a0826;
    color: whitesmoke;
    margin: 0;
}
footer h1{
    padding: 50px 0 0;
    margin: 0;
}
footer h3{
    margin: 0 0 10px;
}
footer a{
    color: whitesmoke;
    margin: 0px 10px;
}
.icon-link{
    padding-bottom: 40px;
}
/* footer section end */


/* css breakpoint */

/* @media only screen and (min-width: 992px) and (max-width: 1200px) {
    
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    
}
@media only screen and (max-width: 767px) {
    
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    
} */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    header {
        /* display: flex; */
        justify-content: center;
        margin: 10px auto;
    }
    .header-title > a {
        margin-left: 16px;
    }
    nav a {
        margin-left: 12px;
    }
    header nav{
        margin-left: 110px;
    }
    .top-left h1 {
        font-size: 1.8em;
    }
    .top-left p {
        font-size: 1em;
    }
    .top-left a {
        padding: 10px 15px;
    }
    .top-right img {
        margin-left: 25px;
        width: 95%;
    }
    .sponsor img {
        width: 70px;
        margin: 0 -5px;
    }
    .bottom-left {
        width: 30%;
    }
    .bottom-right {
        width: 45%;
        padding: 10px;
        text-align: justify;
        margin: 0;
    }
    .top-right h1 {
        font-size: 2.5em;
    }
    .top-section {
        margin: 40px 0;
    }
 
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    
}
@media only screen and (max-width: 767px) {
    
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    
}

