*{
    margin: 0%;
}

/* poppins font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles or utilities*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    background-color: #FFFFFF;
    width: 70%;
    padding: 30px;
}
hr{
    border: 1px solid #D1D1D1;
}

/* header & navigation start  */
header{
    display: flex;
    justify-content: space-between;
    background-color: #552dff;
    padding: 0px 11%;
}

.logo1 {
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.logo1 a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 10px;
    padding: 5px;
}
.logo1 a:hover{
    background-color: tomato;
    border-radius: 10px;
}
.logo1 a img{
    width: 51px;
    height: 51px;
    padding: 5px;
}
nav.logo2 {
    margin-right: 3%;
    display: flex;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 15px;
    padding: 5px;
}
nav ul li:hover{
    background-color: tomato;
    border-radius: 10px;
    
}
nav ul li a{
   text-decoration: none;
   color: white;
   font-size: 20px;
}
nav ul li a img{
    width: 51px;
    height: 51px;
}
/* header & navigation end  */

/* top players style  */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-bottom: 20px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}


