


nav ul{
    display: flex;
}
nav li{
    list-style: none;
}
nav li:hover{
    background-color: lightgray;
    border-radius: 5px;
}
nav li a{
    text-decoration: none;
    color: gold;
    font-size: 20px;
    margin-right: 10px;
    padding: 0px 10px;
}

.title{
    color: red;
    text-align: center;
    font-size: 3em;
}
.heading1-title{
    color: tomato;
    font-size: 30px;
    text-align: center;
    
}
table{
    border-collapse: collapse;
}

td, th{
    border: 1px solid lightgray;
    padding: 2px 10px;
}







